<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Nusantara Foods</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>
    <header>
      <h1><a href="#">Nusantara Foods</a></h1>
      <a href="#" id="navdrawer" class="NavMenu">☰</a>
      <nav id="drawer" class="nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/rendi-sutendi-813a90270/"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <div class="hero">
            <div class="overlay">
              <h2 tabindex="0">Web Informasi Restaurant Nusantara</h2>
            </div>
          </div>
        </section>
        <section id="mainContent" tabindex="0">
          <h2 tabindex="0">Explore Restaurant</h2>
          <div class="card" id="data-kuliner"></div>
        </section>
      </article>
    </main>
    <footer>
      <h3 tabindex="0">Copyright © 2024 - Nusantara Foods Rendi</h3>
    </footer>
  </body>
</html>
